*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto',sans-serif;
    font-size: 14px;
}

body{
    background: #f2f2f2;
    height: 100%;
}

.contenedor{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 65px 1fr;
    grid-template-areas: "dashboard      header"
                         "nav           panel";
    background: #f2f2f2;
}

.contenedor .dashboard{
    grid-area: dashboard;
    background: #34495e;

    width: 200px;
    height: 65px;
    text-align: center;
    color: #fff;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    position: fixed;
}

.contenedor .dashboard i{
    font-size: 22px;
    margin-bottom: 5px;
    display: inline-block;
}

.contenedor .dashboard h1{
    display: inline-block;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

.contenedor .header{
    grid-area: header;
    width: calc(100% - 200px);
    height: 65px;
    background: #fff;
    box-shadow: 3px 0px 4px rgba(44, 62, 80, 0.3);
    
    position: fixed;
    margin-left: 200px;
}

.contenedor .header .grupo-iconos{
    overflow: hidden;
    float: left;
    width: 200px;
    height: 65px;
    padding-left: 20px;

    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}
.contenedor .header .grupo-iconos a{
    text-decoration: none;
    margin-right: 15px;
}
.contenedor .header .grupo-iconos i{
    color: #6C7A7A;
    font-size: 22px;
}

.contenedor .header .grupo-usuario{
    overflow: hidden;
    float: right;
    width: auto;
    height: 65px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contenedor .header .grupo-usuario img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;

    margin-right: 10px;
}

.contenedor .header .grupo-usuario p{
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #6C7A7A;

    margin: 0 10px 0 0px;
}

.contenedor .header .grupo-usuario i{
    color: #6C7A7A;
    font-size: 20px;
    margin-right: 20px;
}

.contenedor .menu{
    grid-area: nav;
    background: #34495e;

    width: 200px;
    height: 100%;
    
    overflow-y: scroll;
    position: fixed;
    margin-top: 65px;
}

.contenedor .menu::-webkit-scrollbar{
    display: none;    
}

.contenedor .menu p{
    color: #6C7A7A;
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
    margin: 10px 10px;
}

.contenedor .menu ul{
    list-style: none;
}

.contenedor .menu li a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 7px 20px;
    background: #34495E;
    line-height: 30px;

    font-family: 'Roboto',sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.contenedor .menu li a:hover{
    background: #2C3E50;
}

.contenedor .menu .icono{
    color: rgba(255, 255, 255, 0.9);
    font-size: 15px;
    line-height: 30px;
}

.contenedor .menu .icono.izquierda{
    float: left;
    margin-right: 10px;
}

.contenedor .menu .icono.derecha{
    float: right;
    margin-left: 10px;
}

.contenedor .menu ul li>ul{
    display: none;
}

.contenedor .menu ul li ul li:nth-child(1){
    margin-top: 3px;
}

.contenedor .menu ul li ul li a
{
    background: #2C3E50;
    color: #fff;
    line-height: 30px;

    font-family: 'Roboto',sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.contenedor .menu ul li ul li a:hover{
    border-right: 3px solid #3498DB;
}

.contenedor .menu .activado>a{
    background: #2C3E50;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3);
    
}

.contenedor .menu li ul .icono{
    margin-left: 5px;
    font-size: 5px;
    line-height: 30px;
}

.contenedor .menu li ul .icono.configuracion{
    margin-left: 5px;
    font-size: 11px;
    line-height: 30px;
}

.contenedor .panel{
    grid-area: panel;
    width: 100%;
    height: 100%;
    padding: 20px;    
}

.panel .bloque{
    overflow: hidden;
    background: #fff;
    width: 100%;
    border-radius: 7px;
    box-shadow: 1px 1px 5px rgba(44, 62, 80, 0.3);
    margin-bottom: 20px;
}

.panel .bloque .bloque-head{
    width: 100%;
    height: 40px;
    background: #fff;
    border-bottom: 1px solid #eeeeee;
    border-radius: 7px 7px 0px 0;
}


.panel .bloque .bloque-head .bloque-title{
    float: left;
    height: 40px;
    width: auto;
}

.panel .bloque .bloque-head .bloque-title h5{
    line-height: 40px;
    margin-left: 15px;

    color: #6C7A7A;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.panel .bloque .bloque-head .bloque-iconos{
    float: right;
    height: 40px;
    width: auto;

    display: flex;
    align-items: center;
    margin-right: 15px;
}

.panel .bloque .bloque-head .bloque-iconos i{
    color: #6C7A7A;
    font-size: 16px;
    cursor: pointer;
}

.panel .bloque .bloque-head .bloque-iconos i:nth-child(2){
    font-size: 24px;
    margin-left: 12px;
}

.panel .bloque .bloque-body{
    width: 100%;
    height: auto;
    background: #fff;
    border-radius: 0 0 7px 7px;
    padding: 20px;
}

/* Estilos para el datatable */

.panel .bloque .bloque-body table thead tr{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.panel .bloque .bloque-body table thead tr th:hover{
    cursor: pointer;
    background: #ECECEC;
}

.panel .bloque .bloque-body table tbody tr th{
    text-align: center;
}

.panel .bloque .bloque-body table tbody tr td{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-align: center;  
      
}

.panel .bloque .bloque-body table tbody tr:hover{
    background: #f2f2f2;
}

.paginate_button a {
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.dataTables_info{
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-top: -5px;
}

label{
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 14px;
    
}

.dataTables_length label select{
    margin-left: 5px;
    margin-right: 5px;
}

.dataTables_filter label input[type="search"]{
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 12px;
}

/*Fin - Estilos para el datatable */

.panel .panel-items{
    width: 100%;
    /* margin-bottom: 20px;   */
    /* background: #ccc; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}

.panel .panel-items .item{
    background: #fafafa;
    width: 260px;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(44, 62, 80, 0.3);
    border-radius: 5px;
    margin-bottom: 20px;
}

.panel .panel-items .item .item-head{
    width: 100%;
    height: 90px;
    padding: 20px;
    border-bottom: 1px solid #eeeeee;
}

.panel .panel-items .item .item-head .item-icono{
    float: left;
}

.panel .panel-items .item .item-head .item-icono i{
    line-height: 50px;
    color:#34495e;
    font-size: 60px;
}

.panel .panel-items .item .item-head .item-detalle{
    float: right;
    height: 50px;
}

.panel .panel-items .item .item-head .item-detalle p:first-child{
    display: block;
    color: #34495E;

    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
}

.panel .panel-items .item .item-head .item-detalle p:nth-child(2){
    display: block;
    color: #34495E;

    font-family: 'Roboto',sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    margin-top: -20px;
}

.panel .panel-items .item .item-footer{
    width: 100%;
    height: 35px;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.panel .panel-items .item .item-footer .item-enlace{
    line-height: 35px;
    padding-left: 20px;
}

.panel .panel-items .item .item-footer .item-enlace a{
    text-decoration: none;
    color: #34495E;
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.panel .panel-items .item .item-footer .item-enlace a:hover{
    text-decoration: underline;
}

.panel .panel-items .item .item-footer .item-enlace a i{
    margin-right: 3px;
    font-size: 12px;
    color: #34495E;
}

.panel .panel-items .item .item-footer .item-enlaces-iconos{
    line-height: 35px;
    padding-right: 20px;
}

.panel .panel-items .item .item-footer .item-enlaces-iconos a{
    text-decoration: none;
    color: #34495E;
}

.panel .panel-items .item .item-footer .item-enlaces-iconos a i{
    font-size: 18px;
}

.panel .panel-items .item .item-footer .item-enlaces-iconos a:nth-child(2){
    font-size: 18px; 
    margin-left: 8px;
}

.menu-usuario{
    display: none;
    z-index: 100;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    margin-top: 75px;
    margin-right:20px;
    box-shadow: 1px 1px 5px rgba(44, 62, 80, 0.3);
    border-radius: 5px;
}

.menu-usuario ul{
    list-style: none;
}

.menu-usuario ul li a{
    text-decoration: none;
    display: block;
    padding: 12px 25px;
    color: #6C7A7A;
    background: #fff;

    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 1em;
    transition: .3s ease;
}

.menu-usuario ul li:first-child a{
    border-radius: 5px 5px 0px 0px;
}

.menu-usuario ul li:nth-child(2) a{
    border-radius: 0 0 5px 5px;
}

.menu-usuario ul li a:hover{
    background: #f2f2f2;
}

.menu-usuario ul li a i{
    margin-right: 10px;
    font-size: 16px;
}

.triangulo-equilatero-bottom {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    border-right: 18px solid transparent;
    border-top: 10px solid transparent;
    border-left: 18px solid transparent;
    border-bottom: 13px solid #fff;
    margin-top: -18px;
    margin-right: 5px;
}

#contador{
    position: absolute;
    /* border-radius: 10px; */
    margin-top: -12px;
    margin-left: 15px;
}